.About h2 {
    font-family: 'Instrument Serif', serif;
    font-size: 35px;
    margin-top: 4.5rem;
    margin-bottom: 1.2rem;
    text-align: center;
}
.About article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 5rem;
    margin: auto;
    margin-bottom: 2rem;
    width: 1300px;
}
.About article section:first-child {
    width: 600px;
}
.About article section:first-child h3 {
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.About article section:first-child p {
    font-family: 'Instrument Serif', serif; 
    font-size: 20px;
    margin-bottom: 1rem;
}
.About article section:first-child button {
    background-color: var(--Color);
    border: none;
    border-radius: 2px;
    color: var(--Background-color);
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
    font-size: 16px;
    margin-top: 0.5rem;
    padding: 0.5rem 1.1rem;
    width: 120px;
}
.About article section:first-child button a {
    color: var(--Background-color);
    font-size: 18px;
    text-decoration: none;
}
.About article section:last-child figure img {
    border-radius: 5px;
    height: 320px;
    margin-top: 2.8rem;
    width: 500px;
}

@media (max-width:768px) {
    .About {
        margin: auto;
        margin-top: 4rem;
        width: 750px;
    }
    .About h2 {
        font-size: 45px;
        margin-bottom: 2rem;
        text-align: center;
        width: 750px;
    }
    .About article {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 750px;
    }
    .About article section:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .About article section:first-child h3 {
        font-size: 35px;
        margin-bottom: 2rem;
        text-align: center;
        width: 700px;
    }
    .About article section:first-child p {
        font-size: 24px;
        text-align: center;
        width: 700px;
    }
    .About article section:first-child button {
        margin-top: 2rem;
        margin-bottom: 2rem; 
        width: 250px;
    }
    .About article section:first-child button a {
        font-size: 25px;
    }
    .About article section:last-child figure img {
        border-radius: 10px;
        height: 550px;
        width: 600px;
    }
}

@media (max-width:428px) {
    .About {
        margin: auto;
        margin-top: 4rem;
        width: 400px;
    }
    .About h2 {
        margin: auto;
        margin-bottom: 1rem;
        width: 400px;
    }
    .About article {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 400px;
    }
    .About article section:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .About article section:first-child h3 {
        font-size: 30px;
        margin-top: 0.5rem;
        text-align: center;
        width: 400px;
    }
    .About article section:first-child p {
        font-size: 24px;
        text-align: center;
        width: 390px;
    }
    .About article section:first-child button {
        margin-bottom: 2rem;
        width: 200px;
    }
    .About article section:first-child button a {
        font-size: 22px;
    }
    .About article section:last-child figure img {
        border-radius: 5px;
        height: 250px;
        width: 320px;
    }
}

@media (max-width:375px) {
    .About {
        margin: auto;
        margin-top: 4rem;
        width: 320px;
    }
    .About h2 {
        margin: auto;
        margin-bottom: 1rem;
        width: 320px;
    }
    .About article {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 320px;
    }
    .About article section:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .About article section:first-child h3 {
        font-size: 25px;
        text-align: center;
        width: 320px;
    }
    .About article section:first-child p {
        font-size: 20px;
        text-align: center;
        width: 320px;
    }
    .About article section:first-child button {
        margin-bottom: 2rem; 
        width: 200px;
    }
    .About article section:first-child button a {
        font-size: 20px;
    }
    .About article section:last-child figure img {
        border-radius: 5px;
        height: 200px;
        width: 310px;
    }
}