@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --Background-color: black;
  --Color: white;
}
.Dark-Theme {
  --Background-color: black;
  --Color: white;
}
.Light-Theme {
  --Background-color: white;
  --Color: black;
}
.App {
  background-color: var(--Background-color);
  color: var(--Color);
  font-family: 'Instrument Serif', serif;
  font-size: 18px;
  height: 100%;
}

@media (max-width:768px) {
  .App {
    background-color: var(--Background-color);
    height: 100%;
    overflow-x: hidden;
    width: 768px;
  }
}

@media (max-width:428px) {
  .App {
    background-color: var(--Background-color);
    height: 100%;
    overflow-x: hidden;
    width: 428px;
  }
}

@media (max-width:375px) {
  .App {
    background-color: var(--Background-color);
    height: 100%;
    overflow-x: hidden;
    width: 375px;
  }
}